.asset-management-content {
    margin: 20px 0px 20px 0px ;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 25px;
    color: var(--text-color-500);
    text-align: center;
    padding: 0px 10px;
}


.asset-management-content div p {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
}

