:root{
    --text-color-100: #000;
    --text-color-200: #0082F4;
    --text-color-300: #fff;
    --text-color-400: #0080FD;
    --text-color-500: #333333;
    --bg-color-100: #0082F4;
    --bg-color-100-hover: #0065be;;
    --bg-color-200: rgba(2, 131, 245, .1);
    --bg-color-300: #fff;
    --bg-color-400: rgba(0, 130, 244, .1);
    --bg-color-500:  #0BA4DE;
    --bg-color-600: rgba(0, 134, 252, .05);
    --bg-color-700: rgba(1, 135, 253, .1);
    --bg-color-800: #DFDFDE;
    --bg-color-900: linear-gradient(180deg, #058AFF 0%, rgba(57, 55, 206, 0.87) 97.91%);

}